body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}

.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#7A7776;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 19em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}
.nav > li > .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
/*.nav li.hover{
    background-color:orange ;
}*/
.nav li li a {
    display: block;
    border-left-width: thick;
border-left-style: solid;
border-left-color: rgb(255, 162, 0);
text-decoration: none;
    background: #000;
    opacity: 0.8;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
     display: block;
    border-left-width: thick;
border-left-style: solid;
border-left-color: rgb(255, 162, 0);
text-decoration: none;
    background:#000;
    opacity: 0.8;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

.parent:hover,
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ff9833;
}

.effect:hover{
    text-decoration: none;
  background-color: #ff9833;
}
.effect{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;           
    }
    

}